* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100vh;
  overflow: hidden;
}

.bg-video {
  position: fixed;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  z-index: -1;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 20px;
}

.center-img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit:contain ;   
  border: 4px solid #ff4d6d;
  box-shadow: 0 0 25px #ff4d6d;
  margin-bottom: 20px;
}

h1 {
  font-size: 2.5rem;
}

.intro {
  max-width: 500px;
  margin: 15px 0;
  font-size: 1.1rem;
  color: #ffd6e0;
}

h2 {
  margin: 15px 0;
  color: #ffb3c1;
}

.buttons a {
  display: inline-block;
  margin: 10px;
  padding: 12px 26px;
  background: #ff4d6d;
  color: white;
  text-decoration: none;
  border-radius: 30px;
  transition: 0.3s;
}

.buttons a:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px rgb(255, 255, 255,0.6);
}

.response p {
    display: none;
    margin-top: 20px;
    font-size: 1.2rem;
    color: #ffe3ed;
}

.response p:target {
    display: block;
}

@media(max-width:600px) {
    h1 {
        font-size: 2rem;
    }

    .center-img {
        width: 150px;
        height: 150px;
    }
}
